.navbar {
    height: 100dvh;
    max-width: 250px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    /* position: absolute; */
    z-index: 100;
}

.navButton {
    width: 100%;
}

.navItems {
    padding: 1rem;
    height: 100%;
}

@media (max-width: 768px) {
    .navbar {

    }
}